.loginBtn{
    height: 45px;
    width: 150px;
    background-image: linear-gradient(45deg, #ff0f7b , #f89b29);
    border: none;
    color: white;
    border-radius: 6px;
}
.loginBtn:hover{
    font-size: large;
}


  @media only screen and (max-width: 600px) {
    .login-header{
        width: 100% !important;
        margin: 10px !important;
    }
  }
